<?xml version="1.0" encoding="UTF-8" ?>
<!--
* 账户 Mapper
* @author GaoXiang
* @version 1.0
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ClassMapper" >

    <!-- 开启缓存 打印日志使用：LoggingEhcache。 不打印日志使用：EhcacheCache。 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>


    <!-- 查询列表，分页信息不在此处控制，参数为map，返回实体 -->
    <select id="list" resultType="com.jee.ssm.model.Class" parameterType="map">
        select DISTINCT class_name as className,id
        from s_class
        where 1=1
    </select>
    <select id="selectByGradeId" parameterType="String" resultType="com.jee.ssm.model.Class">
         select *
        from s_class
        where grade_id=#{id}
    </select>
    <select id="selectById" parameterType="String" resultType="com.jee.ssm.model.Class">
        select *
        from s_class
        where id=#{id}
    </select>

</mapper>